<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Kurs Themeleaf</h1>
<p>Hello witaj</p>
<p th:text="${name}"></p>

<tr th:each="car:${cars}">
    <td th:text="${car.getModel()}"/><br>
    <td th:text="${car.getMark()}"/><br>
    <p>--------------------------</p>
</tr>

<form th:action="@{/add-car}" th:object="${newCar}" method="post">
    <p>Mark:<input type="text" th:field="*{mark}"></p>
    <p>Model:<input type="text" th:field="*{model}"></p>
    <p><input type="submit" value="add new car"></p>
</form>


</body>
</html>